extends layout

block content
  h1= title
  - let image_names = ["M1.jpeg","m3.jpg","M2.jpg","M4.jpg","M5.jpg"]
   -for(let i=0; i<3; i++){
    -let random= Math.floor(Math.random()*5)
     img(src=`/images/${image_names[random]}` alt=`Image Name Milk ${random}` height="300px" width="300px")
    -}